# Python virtual environment
venv/

# VSCode settings
.vscode/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Environment files
.env
.env.*
*.env

# Logs
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode Python extension specific
python_env/

# MacOS
.DS_Store
